.app__footer {
    flex: 1;
    width: 100%;
    flex-direction: column;
}

.foot-head {
    background-image: linear-gradient(90deg, red, blue);
    background-clip: text;
    color: transparent;
}

.app__footer-cards {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap-reverse;
    margin: 4rem 2rem 2rem;

    .app__footer-card {
        min-width: 290px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        margin: 1rem 0;
        padding: 1rem;
        border-radius: 19px;
        cursor: pointer;
        background-color: #fef4f5;
        transition: all 0.3s ease-in-out;

        img {
            width: 40px;
            height: 40px;
            margin: 0 0.7rem;

            p {
                font-weight: 600;
            }

            &:hover {
                box-shadow: 0 0 25px #fef4f5;
            }

            @media screen and (max-width: 450px) {
                width: 100%;
            }
        }

        a {
            text-decoration: none;
            font-weight: 500;
        }
    }

    @media screen and (max-width: 768px) {
        width: 100%;
    }
}

// .app__footer-cards .app__footer-card:last-child {
//     background-color: #f2f7fb;
// }

.app__footer-form {
    width: 60%;
    flex-direction: column;
    margin: 1rem 2rem;

    div {
        width: 100%;
        margin: 0.75rem;
        border-radius: 10px;
        cursor: pointer;
        background-color: var(--primary-color);
        transition: all 0.3s ease-in-out;

        input, textarea {
            width: 100%;
            padding: 0.95rem;
            border: none;
            border-radius: 7px;
            background-color: var(--primary-color);
            font-family: var(--font-base);
            color: var(--secondary-color);
            outline: none;
        }

        textarea {
            height: 170px;
        }

        &:hover {
            box-shadow: 0 0 25px var(--primary-color);
        }
    }

    button {
        padding: 1rem 2rem;
        border-radius: 6px;
        border: none;
        outline: none;
        background-color: var(--secondary-color);
        font-weight: 500;
        color: var(--white-color);
        margin: 2rem 0 0 0 ;
        font-family: var(--font-base);
        cursor: pointer;
    }

    @media screen and (max-width: 768px) {
        width: 100%;
        margin: 1rem 0;
    }
}

.app__footer-bottom {
    width: 100%;
    height: 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;

    .app__footer-line1 {
        height: 0.4rem;
        width: 58%;
        background: linear-gradient(90deg, red, blue);
        border-radius: 1rem;

    }

    .app__footer-line2 {
        height: 0.4rem;
        width: 12%;
        background: linear-gradient(90deg, blue, red);
        border-radius: 1rem;
    }

    p {
        margin: 0 1rem;
    }

    @media screen and (max-width : 450px) {
        flex-wrap: wrap;

        .app__footer-line1 {
            width: 38%;
        }

        .app__footer-line2 {
            width: 18%;
        }
    }
}